.cache/
.dbus/
.config/
.local/
.pki/
.mono/
.omnisharp/
.quicktype-vscode/
.ssh/
.surf/
.terminfo/
.thumbnails/
.vim/
.vscode/
.vscode-oss/
.icons/
.mozilla/
.gtkrc-*
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Video/
.bashrc
.bash_*
.esd_auth
.lesshst
.viminfo
.wget-hsts
.Xauthority
.bashrc.bak
.gnupg/
build/
*.txt
!i3
!polybar
!dunst
!compton
